
    body {
        background: url("./assets/imagenes/83416B1A4.jpg");
        height: 1000px;
     
        
        font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
        text-shadow: 0 1px 0 #fff;
    }