<div class="container" >

    
  <div class="card">
      <h1>Pensar</h1> <br><br>
      <img class="img-thumbnail"   src="./assets/imagenes/pensar-sin-leer.jpg" alt="Avatar" style="width:100%">


      <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>
  
    <div class="card">
      <h1>Piedra,papel o tijera</h1>
      <img class="img-thumbnail" src="./assets/imagenes/Piedra-Papel-Tijera-87021.gif" alt="Avatar" style="width:100%">

    
      <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card">
        <h1>Buscar</h1> <br><br>
      <img  class="img-thumbnail"  src="./assets/imagenes/giphy.gif" alt="Avatar" style="width:100%">


      <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>
    <div class="card">
        <h1>Pensar en canciones</h1> 
      <img class="img-thumbnail" src="./assets/imagenes/Ie18lWUthbcz1SS54512Qubn05Q.gif" alt="Avatar" style="width:100%">
    
      <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
  </div>