<div class="panel panel-default">
  <div class="hero-text">
     <h1 style="font-size:50px"  > <p>Sala de Juegos</p></h1>
      <!--<p>Octavio villegas</p>-->
      <a href="https://github.com/Sol993"target="_blank">en GitHub <i class="fa fa-github"></i></a>
      <a  routerLink="/QuienSoy" >Quien Soy? <i class="fa fa-user"></i></a>
  </div>
 <!-- <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/Registro"><span class="glyphicon glyphicon-user"></span>Registrarse</a></li>
          <li><a  routerLink="/Login"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
  </ul>-->
  <nav role="navigation">
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />
      
      <!--
      Some spans to act as a hamburger.
      
      They are acting like a real hamburger,
      not that McDonalds stuff.
      -->
      <span></span>
      <span></span>
      <span></span>
      
      <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
      -->
      <ul id="menu">
        <a href="#"><li>Home</li></a>
        <a routerLink="/Registro"><li>Registrarse</li></a>
        <a routerLink="/Login"><li>Ingresar</li></a>
        <a routerLink="/QuienSoy"><li>Quien Soy!</li></a>
      </ul>
    </div>
  </nav>
</div>
